public/flows/browser_flow.json
[{"id":"692a4124.09805","type":"ibmiot in","z":"b9f7ef64.c05568","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"479709205614","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":79,"y":114.5,"wires":[["67052b0d.a5150c","8bfc3e64.32cd18"]]},{"id":"7e271f4a.971c5","type":"debug","z":"b9f7ef64.c05568","name":"","active":false,"console":"false","complete":"false","x":732,"y":133,"wires":[]},{"id":"67052b0d.a5150c","type":"function","z":"b9f7ef64.c05568","name":"Extract Tilt Left/Right","func":"return {payload: msg.payload.d.tiltLR};","outputs":1,"noerr":0,"x":226,"y":52.5,"wires":[["e3de054b.4397d"]]},{"id":"e3de054b.4397d","type":"switch","z":"b9f7ef64.c05568","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"-5","vt":"str"},{"t":"gte","v":"5","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":380,"y":106.5,"wires":[["39edf83.7a43208"],["84df2ed4.38ffe"],["c29bb8e7.4c77c8"]]},{"id":"39edf83.7a43208","type":"template","z":"b9f7ef64.c05568","name":"Left","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"左に傾いています。tiltLR = {{payload}}","x":553,"y":73.5,"wires":[["7e271f4a.971c5"]]},{"id":"84df2ed4.38ffe","type":"template","z":"b9f7ef64.c05568","name":"Right","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"右に傾いています。tiltLR = {{payload}}","x":551,"y":127.5,"wires":[["7e271f4a.971c5"]]},{"id":"c29bb8e7.4c77c8","type":"template","z":"b9f7ef64.c05568","name":"Flat","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ほぼ水平です。tiltLR = {{payload}}","x":538,"y":188.5,"wires":[["7e271f4a.971c5"]]},{"id":"a380fd9.72cf78","type":"http in","z":"b9f7ef64.c05568","name":"","url":"/deviceincl","method":"get","swaggerDoc":"","x":108,"y":422.5,"wires":[["5e526c47.dcd904"]]},{"id":"5e526c47.dcd904","type":"template","z":"b9f7ef64.c05568","name":"Base Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>Sensor Data Visualization</title>\n\n    <script type=\"text/javascript\">\n      var wsUrl = 'wss://iot-sample-akamatsu.mybluemix.net/ws/deviceincl';\n\n      var socket;\n      var tiltLR;\n      var tiltFB;\n\n      function connect() {\n        socket = new WebSocket(wsUrl);\n        socket.onmessage = function(e) {\n            var inclData = JSON.parse(e.data);\n            var msg;\n            if(inclData.tiltLR <= -5){\n                msg = \"左に傾斜しています(\"+inclData.tiltLR+\")\";\n            } else if(inclData.tiltLR >= 5){\n                msg = \"右に傾斜しています(\"+inclData.tiltLR+\")\";\n            } else {\n                msg = \"ほぼ水平です(\"+inclData.tiltLR+\")\";\n            }\n            tiltLR.innerHTML = msg;\n            if(inclData.tiltFB <= -5) {\n                msg = \"下に傾斜しています(\"+inclData.tiltFB+\")\";\n            } else if(inclData.tiltFB >= 5) {\n                msg = \"上に傾斜しています(\"+inclData.tiltFB+\")\";\n            } else {\n                msg = \"ほぼ水平です(\"+inclData.tiltFB+\")\";\n            }\n            tiltFB.innerHTML = msg;\n        };\n      };\n      function disconnect() {\n        socket.close();\n      };\n        \n    </script>\n  </head>\n  <body onload=\"tiltLR = document.getElementById('tiltLR'); tiltFB = document.getElementById('tiltFB'); connect()\" onfocus=\"connect()\">\n    <h2>Watson IoT Sample Web</h2>\n    \n    <div>\n        <table border=\"1\" cellpadding=\"1\" cellspacing=\"0\" width=\"500px\">\n            <tr><th width=\"50%\">左右方向</th><th width=\"50%\">上下方向</th></tr>\n            <tr>\n                <td><span id=\"tiltLR\" style=\"font-size: large; font-style: bold;\">&nbsp;</span></td>\n                <td><span id=\"tiltFB\" style=\"font-size: large; font-style: bold;\">&nbsp;</span></td>\n            </tr>\n        </table>\n        \n    </div>\n  </body>\n</html>","x":340,"y":422,"wires":[["67173b68.f5df3c"]]},{"id":"67173b68.f5df3c","type":"http response","z":"b9f7ef64.c05568","name":"","x":613,"y":421,"wires":[]},{"id":"23d8cac2.4ac3b6","type":"websocket out","z":"b9f7ef64.c05568","name":"","server":"4f537486.fb9164","client":"","x":533,"y":251,"wires":[]},{"id":"8bfc3e64.32cd18","type":"function","z":"b9f7ef64.c05568","name":"Extract Tilt LR & FB","func":"msg.payload = {\n    \"tiltLR\": msg.payload.d.tiltLR,\n    \"tiltFB\": msg.payload.d.tiltFB\n};\nreturn msg;","outputs":1,"noerr":0,"x":233,"y":251.5,"wires":[["23d8cac2.4ac3b6"]]},{"id":"4f537486.fb9164","type":"websocket-listener","z":"b9f7ef64.c05568","path":"/ws/deviceincl","wholemsg":"false"}]