public/flows/browser_flow.json
[{"id":"6c317dda.1625a4","type":"ibmiot in","z":"20f3e755.04dcf","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"485402564700","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":148,"wires":[["1b45f0c0.3e661f","58bb1d72.cab0f4"]]},{"id":"1c6c95db.1b631a","type":"debug","z":"20f3e755.04dcf","name":"","active":false,"console":"false","complete":"false","x":743,"y":166.5,"wires":[]},{"id":"1b45f0c0.3e661f","type":"function","z":"20f3e755.04dcf","name":"Extract Tilt Left/Right","func":"return {payload: msg.payload.d.tiltLR};","outputs":1,"noerr":0,"x":237,"y":86,"wires":[["6a4c043b.320aec"]]},{"id":"6a4c043b.320aec","type":"switch","z":"20f3e755.04dcf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"-5","vt":"str"},{"t":"gte","v":"5","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":391,"y":140,"wires":[["8adc1aac.bf7de8"],["19cf8bb8.e8e4a4"],["e61f7968.f58d78"]]},{"id":"8adc1aac.bf7de8","type":"template","z":"20f3e755.04dcf","name":"Left","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"左に傾いています。tiltLR = {{payload}}","x":564,"y":107,"wires":[["1c6c95db.1b631a"]]},{"id":"19cf8bb8.e8e4a4","type":"template","z":"20f3e755.04dcf","name":"Right","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"右に傾いています。tiltLR = {{payload}}","x":562,"y":161,"wires":[["1c6c95db.1b631a"]]},{"id":"e61f7968.f58d78","type":"template","z":"20f3e755.04dcf","name":"Flat","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ほぼ水平です。tiltLR = {{payload}}","x":549,"y":222,"wires":[["1c6c95db.1b631a"]]},{"id":"ad968b7e.cea908","type":"http in","z":"20f3e755.04dcf","name":"","url":"/deviceincl","method":"get","swaggerDoc":"","x":120,"y":419,"wires":[["91377cba.c3126"]]},{"id":"91377cba.c3126","type":"template","z":"20f3e755.04dcf","name":"Base Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>Sensor Data Visualization</title>\n    <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n\n    <script type=\"text/javascript\">\n    var wsUrl = 'wss://710-O900156-iot-sample.mybluemix.net/ws/deviceincl';\n\n    var socket;\n    var tiltLR;\n    var tiltFB;\n    var chart;\n    var chartOptions;\n    var chartData;\n\n    google.charts.load('current', {'packages':['gauge']});\n    google.charts.setOnLoadCallback(drawChart);\n\n    function connect() {\n        socket = new WebSocket(wsUrl);\n        socket.onmessage = function(e) {\n            var inclData = JSON.parse(e.data);\n            var msg;\n            if(inclData.tiltLR <= -5){\n                msg = \"左に傾斜しています(\"+inclData.tiltLR+\")\";\n            } else if(inclData.tiltLR >= 5){\n                msg = \"右に傾斜しています(\"+inclData.tiltLR+\")\";\n            } else {\n                msg = \"ほぼ水平です(\"+inclData.tiltLR+\")\";\n            }\n            tiltLR.innerHTML = msg;\n            if(inclData.tiltFB <= -5) {\n                msg = \"下に傾斜しています(\"+inclData.tiltFB+\")\";\n            } else if(inclData.tiltFB >= 5) {\n                msg = \"上に傾斜しています(\"+inclData.tiltFB+\")\";\n            } else {\n                msg = \"ほぼ水平です(\"+inclData.tiltFB+\")\";\n            }\n            tiltFB.innerHTML = msg;\n\n        chartData.setValue(0,1,inclData.tiltLR);\n        chartData.setValue(1,1,inclData.tiltFB)\n        chart.draw(chartData, chartOptions);\n        };\n      };\n      function disconnect() {\n        socket.close();\n      };\n\n    function drawChart() {\n        chart = new google.visualization.Gauge(document.getElementById('chart_div'));\n        chartData = google.visualization.arrayToDataTable([\n            ['Label', 'Value'],\n            ['Left-Right', 100],\n            ['Front-Back', 100]\n        ]);\n        chartOptions = {\n            width: 800, height: 240,\n            max: 180, min: -180,\n            redFrom: 90, redTo: 180,\n            yellowFrom:-90, yellowTo: 90,\n            minorTicks: 5\n        };\n\n        chart.draw(chartData, chartOptions);\n    }\n    </script>\n  </head>\n  <body onload=\"tiltLR = document.getElementById('tiltLR'); tiltFB = document.getElementById('tiltFB'); connect()\" onfocus=\"connect()\">\n    <h2>Watson IoT Sample Web</h2>\n    \n    <div>\n        <table border=\"1\" cellpadding=\"1\" cellspacing=\"0\" width=\"500px\">\n            <tr><th width=\"50%\">左右方向</th><th width=\"50%\">上下方向</th></tr>\n            <tr>\n                <td><span id=\"tiltLR\" style=\"font-size: large; font-style: bold;\">&nbsp;</span></td>\n                <td><span id=\"tiltFB\" style=\"font-size: large; font-style: bold;\">&nbsp;</span></td>\n            </tr>\n        </table>\n        \n    </div>\n    <div id=\"chart_div\" style=\"width: 800px; height: 240px;\"></div>\n  </body>\n</html>","x":352,"y":418.5,"wires":[["22b44305.5917e4"]]},{"id":"22b44305.5917e4","type":"http response","z":"20f3e755.04dcf","name":"","x":625,"y":417.5,"wires":[]},{"id":"faeb2ea9.2892d","type":"websocket out","z":"20f3e755.04dcf","name":"","server":"d29acf07.e24828","client":"","x":544,"y":284.5,"wires":[]},{"id":"58bb1d72.cab0f4","type":"function","z":"20f3e755.04dcf","name":"Extract Tilt LR & FB","func":"msg.payload = {\n    \"tiltLR\": msg.payload.d.tiltLR,\n    \"tiltFB\": msg.payload.d.tiltFB\n};\nreturn msg;","outputs":1,"noerr":0,"x":244,"y":285,"wires":[["faeb2ea9.2892d"]]},{"id":"ecdeeb2f.d5b66","type":"comment","z":"20f3e755.04dcf","name":"Phoneセンサーから値を受け取る","info":"","x":148,"y":42.5,"wires":[]},{"id":"83c7163f.1ac7d","type":"comment","z":"20f3e755.04dcf","name":"センサーデータをブラウザで表示する","info":"","x":166,"y":370.5,"wires":[]},{"id":"d29acf07.e24828","type":"websocket-listener","z":"20f3e755.04dcf","path":"/ws/deviceincl","wholemsg":"false"}]